<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.com.dgom.sercco.android.prevent.act">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permisos del push -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="mx.com.dgom.sercco.android.prevent.act.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mx.com.dgom.sercco.android.prevent.act.permission.C2D_MESSAGE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- GOOGLE -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0JNgqf8CEKhN638plKvPKV607cKivZFI" />


        <!-- FACEBOOK -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider470290426508761"
            android:exported="true" />

        <!-- TERMINA FACEBOOK -->

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" />



        <activity
            android:name=".TimeLineActivity"
            android:label="@string/title_activity_time_line"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportarDelitoActivity"
            android:label="@string/title_activity_reportar_delito"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PictureGalleryActivity"
            android:label="@string/title_activity_agregar_foto"
            android:screenOrientation="portrait" />

        <!-- SERVICIOS -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="mx.com.dgom.sercco.android.prevent.cloudservices.PrevenTGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="mx.com.dgom.sercco.android.prevent.cloudservices.PrevenTInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="mx.com.dgom.sercco.android.prevent.cloudservices.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".PictureSliderActivity" />
        <activity
            android:name=".VideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".IntroActivity"
            android:label="@string/title_activity_intro"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
